<div class="container mx-auto p-16">
  <div class="grid grid-cols-2 gap-8">
    <div>
      <h2 class="text-lg font-bold mb-6">Jokes</h2>
      <!-- <div *ngIf="(chuckJokes$ | async)?.length > 0; else elseBlock"> -->
        <app-joke-card
          *ngFor="let chuckJoke of chuckJokes$ | async; index as i;"
          [chuckJoke]="chuckJoke"
          (addFavoriteJoke)="handleAddFavoriteJoke($event)"
        ></app-joke-card>
      <!-- </div> -->
      <!-- <ng-template #elseBlock>You haven't fetched any jokes yet!</ng-template> -->
    </div>

    <div>
      <h2 class="text-lg font-bold mb-6">Favorites</h2>
      <app-favorite-card
        *ngFor="let favorite of favorites; index as i"
        [chuckJoke]="favorite"
        (removeFavoriteJoke)="handleRemoveFavoriteJoke($event)"
      ></app-favorite-card>
    </div>
  </div>
</div>

<nav class="flex justify-center p-4 w-full fixed top-0 h-16">
  <button
    id="fetchBtn"
    type="button"
    (click)="onFetchJokes()"
    class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-md font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none"
  >
    <svg
      class="-ml-1 mr-2 h-5 w-5"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      aria-hidden="true"
    >
      <path
        fill-rule="evenodd"
        d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
        clip-rule="evenodd"
      />
    </svg>
    Fetch 10 random jokes
  </button>
</nav>
